{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block user %}
    {% include 'includes/head_user.html'%}
{% endblock %}

{% block body %}
    <div class="d-flex flex-md-column justify-content-center">
        <div class="d-flex justify-content-center text-white">
            <h1>New question</h1>
        </div>
        {% if request.user.is_authenticated %}
            <form class="p-2" method="post">
                {% csrf_token %}
                {% for field in question_form %}
                    <div class="row g-3 align-items-center mb-2">
                        <div class="col-3 align-self-start">
                            <label for="{{ field.id_for_label }}" class="text-white h6">
                                {{ field.label }}
                            </label>
                        </div>
                        <div class="col-auto">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                {% for field in tag_form %}
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label for="{{ field.id_for_label }}" class="col-form-label text-white h6">
                                {{ field.label }}
                            </label>
                        </div>
                        <div class="col-auto">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-lg text-white"
                            style="background-color: rgb(255, 255, 255, 0.1)">
                        Ask!
                    </button>
                </div>
            </form>
        {% else %}
            <div class="text-white">
                <a class="text-white h3" href="{% url 'login' %}">
                    You must be authorized to ask a question
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block tags_members %}
    {% include 'includes/tags_members.html'%}
{% endblock %}