<!-- Main page ref -->
<a class="text-white text-decoration-none me-2" href="/" style="margin: 5px">
    <h1>QArchy's forum</h1>
</a>
<!-- Search area -->
<div class="d-inline-flex">
    <input class="form-control form-control-sm me-2" type="search" placeholder="Search">
    <button class="btn text-white me-2"
            style="background-color: rgb(255, 255, 255, 0.1)"
            type="submit">
        Search
    </button>
    <a class="btn text-white"
       href="{% url 'ask' %}"
       role="button"
       style="background-color: rgb(255, 255, 255, 0.1)">
        ASK!
    </a>
</div>