{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block user %}
    {% include 'includes/head_user.html'%}
{% endblock %}

{% block body %}
<div class="d-flex flex-md-column justify-content-center">
    <div class="d-flex justify-content-center text-white mb-2">
        <h1>Login</h1>
    </div>
    <form class="p-2" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label for="{{ field.id_for_label }}" class="col-form-label text-white h6">
                        {{ field.label }}
                    </label>
                </div>
                <div class="col-auto">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="col-auto text-white">
                    <h6>Warning: {{ error|escape }}</h6>
                </div>
            {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-center mb-2">
            <button type="submit"
                    class="btn btn-lg text-white me-2"
                    style="background-color: rgb(255, 255, 255, 0.1)">
                Login
            </button>
        </div>
        <a class="text-white h4 me-2" href="{% url 'signup' %}">
            Create new account
        </a>
    </form>
</div>
{% endblock %}

{% block tags_members %}
    {% include 'includes/tags_members.html'%}
{% endblock %}