{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block user %}
    {% include 'includes/head_user.html'%}
{% endblock %}

{% block body %}

    {% include 'includes/body_head.html' %}

    {% include 'includes/question_content.html' %}

    <div class="mt-4 mb-4" style="border: 1px solid lightskyblue"></div>

    {% for answer in page_obj %}
        {% include 'includes/answer_content.html' %}
    {% endfor %}

    {% if page_obj|length >= 1 %}
        {% include 'includes/paginator.html'%}

        <div class="mt-3 mb-4" style="border: 1px solid lightskyblue"></div>
    {% endif %}

    <div class="d-flex flex-md-column mb-2">
        <form method="post">
            {% csrf_token %}
            <!-- Description -->
            {% for field in answer_form %}
                <div class="d-flex justify-content-center mb-2">
                    <div class="col-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-lg text-white h3"
                        style="background-color: rgb(255, 255, 255, 0.1)">
                    Answer
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block tags_members %}
    {% include 'includes/tags_members.html'%}
{% endblock %}