{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block user %}
    {% include 'includes/head_user.html'%}
{% endblock %}

{% block body %}
<div class="d-flex flex-md-column justify-content-center">
    <div class="text-white mb-2">
        <h3>Settings: {{ request.user.first_name }}</h3>
    </div>
    <form class="p-2" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Login -->
        {% for field in form %}
            <div class="row g-3 align-items-center mb-2">
            <div class="col-3">
                <label for="{{ field.id_for_label }}" class="col-form-label text-white h6">
                    {{ field.label }}
                </label>
            </div>
            <div class="col-auto">
                {% if field == form.avatar %}
                    <div class="avatar mt-2 mb-2"
                            style="width: auto; height: auto; max-width: 120px; max-height: 120px">
                            <img src="../../static/img/{{ request.user.profile.avatar.name|filename }}" alt="">
                    </div>
                    {{ field }}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="col-auto text-white">
                        <h6>Warning: {{ error|escape }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="col-auto text-white">
                    <h6>Warning: {{ error|escape }}</h6>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row g-3 align-items-center mb-2">
            <div class="col-auto">
                {{ form.error }}
            </div>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <button type="submit"
                    class="btn btn-lg text-white me-2"
                    style="background-color: rgb(255, 255, 255, 0.1)">
                Save
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block tags_members %}
    {% include 'includes/tags_members.html'%}
{% endblock %}