{% if request.user.is_authenticated %}
    <div class="d-flex ms-auto">
        <div class="avatar mt-2 me-2"
             style="max-width: 50px; max-height: 50px">
            <img src="../../static/img/{{ request.user.profile.avatar.name|filename }}" alt="">
        </div>
        <div class="d-flex mt-2 flex-md-column">
            <div class="text-white me-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
                        -webkit-line-clamp: 2;
                                line-clamp: 2;
                        -webkit-box-orient: vertical;">
                <h5>{{ request.user.first_name }}</h5>
            </div>
            <div class="d-flex">
                <a class="me-3 text-white text-decoration-none"
                   href="{% url 'settings' %}">
                    <h5>settings</h5>
                </a>
                <a class="me-3 text-white text-decoration-none"
                   href="{% url 'logout' %}">
                    <h5>logout</h5>
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="d-inline-flex ms-auto">
        <a class="me-3 py-2 text-white text-decoration-none"
           href="{% url 'signup' %}">
            <h4>Register</h4>
        </a>
        <a class="me-3 py-2 text-white text-decoration-none"
           href="{% url 'login' %}">
            <h4>Log In</h4>
        </a>
    </div>
{% endif %}